.DS_Store
/.emacs.d/ac-comphist.dat
/.emacs.d/auto-save-list/
/.emacs.d/elpa/archives/*/archive-contents
/.emacs.d/elpa/archives/*/archive-contents.signed
/.emacs.d/elpa/gnupg/
/.emacs.d/recentf
/.emacs.d/tramp
/.emacs.d/url/
